.part1
{
    background-image: linear-gradient(to right,  #ffb3cc 50%, white 50%);
}

.part2
{
    background-image: linear-gradient(to right,  white 50%, #b3d9ff 50%);
}

.logo
{
    width:180px;
    height:180px;
    
}

.col-sm-3
{
    padding-top: 30px;
}

h1
{
    font-family: 'Merriweather', serif;
}


.navigation:link {
    color: #0066ff;
  }
  
  
  .navigation:hover {
    color: red;
  }
  

  .navigation:active {
    color: #4da6ff;
  }