.part1
{
    background-image: linear-gradient(to right,  #ffb3cc 50%, white 50%);
}

.part2
{
    background-image: linear-gradient(to right,  white 50%, #b3d9ff 50%);
}

.logo
{
    width:180px;
    height:180px;
    
}

.col-sm-3
{
    padding-top: 30px;
}

h1
{
    font-family: 'Merriweather', serif;
}

.project1
{
   width: 100%;
  height: 500px;
  background: url("../images/9_Tips_Secured_Home_Wireless_Network_e753417dc5.png") no-repeat left;
  background-size: cover
}

.project2
{
   width: 100%;
  height: 500px;
  background: url("../images/greenlots-smart-charge-technology.jpg") no-repeat left;
  background-size: cover
}

.project3
{
   width: 100%;
  height: 500px;
  background: url("../images/Information-Security-Compliance-Regulations-and-Standards-2.jpeg") no-repeat top;
  background-size: cover
}

.navigation:link {
    color: #0066ff;
  }
  
  
  .navigation:hover {
    color: red;
  }
  

  .navigation:active {
    color: #4da6ff;
  }

 