body
{
  
}


#avatar-img{
    border-radius: 50%;
    padding: 2px;
    width: 80px;
    height: 80px;
 }

 .navbar
{
   height: 80px;
}

.row
{
    padding-top: 100px;
}

.jumbotron {
  background: url(../images/hoang6.JPG) fixed bottom no-repeat;
  background-size: cover;
  height: 400px;
 }

