#avatar-img{
    border-radius: 50%;
    padding: 2px;
    width: 100px;
    height: 100px;
 }


 .navbar
{
   height: 80px;
}

.row
{
   
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../images/hoang6.JPG");

  /* Full height */
  height: 50%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid
{
  background-image: linear-gradient(to right,  white 50%, #80b3ff 50%);
}

.card-title
{
  background-color: #4dd2ff;
  margin-bottom: 0;
}

.expierence
{
  background-color: #ffd633;

}

.summary
{
  margin-bottom: 20px;
}

.logo
{
  border-radius: 50%;
  padding: 2px;
  width: 50px;
  height: 50px;
}

iframe
{
  width: 180px;
  height:230px;

}
