	/*
  
   Wildcat Computer Science
   Author: Hoang Cao	
   Date:   7/02/2017

   Filename:         wcs.css

*/
body
{
   background: linear-gradient(to left, #333, #333 50%, #eee 50%, #333 75%);
}

.navbar
{
   height: 80px;
}

#avatar-img{
   border-radius: 50%;
   padding: 2px;
   width: 80px;
   height: 80px;
}
.part1
{
   padding-top: 100px;
}

.part2
{
   padding-top: 100px;
   text-transform: uppercase;
	background: linear-gradient(to left, #eee, #eee 50%, #333 50%, #333 55%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.row
{
   padding-bottom: 10px;
}

.project, .contact, .aboutme
{
  width: 15rem;
  margin: 0 auto; 
}

.activator1, .activator2, .activator3, .activator4, .activator5, .activator6, .activator7
{
   width: 15rem;
   height: 150px;
}

#link
{
font-size:2em;
text-align:center;
font-family: 'Indie Flower', cursive;	
margin: 25px 2px 25px 25px; 
margin-top: 500px;
}
		
a:active 
{
color: #e74c3c ;
}

a:hover 
{
background:  #a3e4d7;
}

#footer
{
width: 500px;
margin-top:50px;
padding: 0px 28px 0px 20px;
background:#e6e6e6;
}









	
		
		