body
{
   background-image: linear-gradient(to left, #333, #333 50%, #eee 50%, #333 75%);
}

.navbar
{
   height: 80px;
}

#avatar-img{
   border-radius: 50%;
   padding: 2px;
   width: 80px;
   height: 80px;
}
.part1
{
   padding-top: 100px;
}

.part2
{
   text-transform: uppercase;
	background: linear-gradient(to left, #eee, #eee 50%, #333 50%, #333 55%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.row
{
   padding-bottom: 10px;
}

.aboutme
{
  width: 15rem;
  margin: 0 auto; 
  margin-bottom: 20px;
}

.project
{
  width: 15rem;
  margin: 0 auto; 
}

.activator1, .activator2, .activator3, .activator4, .activator5, .activator6, .activator7
{
   width: 15rem;
   height: 150px;
}

.card-text
{
   height:100px;
}

#link
{
font-size:2em;
text-align:center;
font-family: 'Indie Flower', cursive;	
margin: 25px 2px 25px 25px; 
margin-top: 500px;
}
		
a:active 
{
color: #e74c3c ;
}

a:hover 
{

}

#footer
{
width: 238px;
margin-top:20px;
}
.card-image
{
   width: 100%;
}

@media (max-width: 575px) {
   h1
   {
      font-size: 16px; 
   }
}
@media (max-width: 991px) {
   #avatar-img
   {
      width: 65px;
      height: 65px;
   }
   
}







	
		
		